IG_MEMBER_ID=
IG_PIN=
BOOKING_URL=https://www.wrexhamgolfclub.co.uk/memberbooking/
LOGIN_URL=https://www.wrexhamgolfclub.co.uk/login.php
PRIMARY_TEE_TIME=07:50
SECONDARY_TEE_TIME=08:30
PLAYER_NAMES=Verrol Skerritt|Richard Roberts|Dean Holmes|Eddie Buckly
COURSE_ID=779
GROUP_ID=1
DRY_RUN=true
